// @import "uikit.less";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic');
@import "fonts";
@import (less) "../../node_modules/normalize.css/normalize.css";

@font-alt:  "Stark", sans-serif;

@breakpoint-xsmall: 639px;
@breakpoint-small: 959px;
@breakpoint-medium: 1199px;
@breakpoint-large: 1599px;
@breakpoint-large: 1899px;

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
}

main {
    overflow: hidden;
}

img {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    @media (max-width: @breakpoint-xsmall) {
        height: 200px;
    }
}

p {
    margin: 1.5em 0;
}

h2 {
    margin: 100px 0 40px;
    color: #0d0d0d;
    font-family: @font-alt;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.125;
    text-transform: uppercase;
}

h3 {
    margin: 120px 0 0;
    color: #0d0d0d;
    font-family: @font-alt;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    margin: 90px 0 0;
    font-family: @font-alt;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.24px;
}

h5 {
    margin: 85px 0 0;
    font-family: @font-alt;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.22px;
}

h6 {
    width: 194px;
    padding: 30px 32px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    background-color: #f9f9f9;
    position: absolute;
    right: -150px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.45;
    @media (max-width: @breakpoint-small) {
        width: auto;
        position: static;
    }
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    @media (max-width: @breakpoint-xsmall) {
        padding: 0 10px;
    }
}

.innerpage {
    padding-top: 260px;
    overflow: hidden;
    @media (max-width: @breakpoint-xsmall) {
        padding-top: 120px;
    }
}

.pagetitle {
    margin-top: 0;
    margin-bottom: 129px;
    position: relative;
    z-index: 10;
    font-family: @font-alt;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    @media (max-width: @breakpoint-xsmall) {
        font-size: 30px;
    }
}

.header {
    position: absolute;
    top: 15px;
    right: 117px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: @breakpoint-small) {
        justify-content: space-around;
        width: 100%;
        right: 0;
    }
    @media (max-width: @breakpoint-xsmall) {
        display: none;
    }
}

.header_fixed {
    position: fixed;
    top: 0;
}

.header__social {
    height: 57px;
    padding: 0;
    margin: 0;
    display: flex;
    li {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 2px;
    }
    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        position: relative;
        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            fill: #999999;
        }
        &:focus {
            outline: none;
            background: #00ffff;
            svg {
                fill: #000;
            }
        }
        &:active,
        &:hover {
            svg {
                fill: #ffffff;
                &.svg-vkontakte {
                    fill: #4e759f;
                }
                &.svg-instagram {
                    fill: #6a473f;
                }
                &.svg-youtube {
                    fill: #e42a27;
                }
            }
        }
    }
}

.header__social_fixed {
    background-color: #4b4b4b;
}

.header__email {
    display: flex;
    align-items: center;
    height: 57px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 3.2px;
    text-decoration: none;
    margin-left: 33px;
    padding: 0 10px;
    line-height: 1;
    text-decoration: none;
    span {
        display: block;
        padding-bottom: 3px;
        border-bottom: 1px dashed #000;
    }
    &:focus {
        outline: none;
        background: #00ffff;
        color: #000;
        border-bottom-color: #000000;
    }
    &:hover,
    &:active {
        border-bottom-color: #ccc;
        text-decoration: none;
    }
    @media (max-width: @breakpoint-small) {
        margin-left: 0;
    }
}

.header__email_fixed {
    color: #ffffff;
    background-color: #4b4b4b;
    span {
        border-bottom-color: #ccc;
    }
    &:hover {
        color: #ffffff;
    }
}

.header__phone {
    display: flex;
    align-items: center;
    height: 57px;
    color: #000000;
    font-family: @font-alt;
    font-size: 24px;
    text-decoration: none;
    margin-left: 50px;
    padding: 0 30px;
    cursor: default;
    span {
        font-size: 14px;
    }
    &:focus {
        outline: none;
        background: #00ffff;
        color: #000;
    }
    &:hover,
    &:active {
        text-decoration: none;
    }
    @media (max-width: @breakpoint-small) {
        margin-left: 0;
    }
}

.header__phone_fixed {
    color: #ffffff;
    background-color: #299798;
    &:hover {
        color: #ffffff;
    }
}

.background-title {
    position: absolute;
    top: 180px;
    right: 150px;
    z-index: 10;
    text-align: right;
    color: rgba(41, 151, 152, 0.2);
    font-family: @font-alt;
    font-size: 110px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    @media (max-width: @breakpoint-large) {
        font-size: 80px;
    }
    @media (max-width: @breakpoint-medium) {
        font-size: 50px;
        right: 10px;
    }
    @media (max-width: @breakpoint-xsmall) {
        display: none;
    }
}

.header-menu {
    position: absolute;
    top: 23.5%;
    left: 9.1%;
    z-index: 10;
    box-shadow: 0 0 0 8px #009696;
    border: 2px solid rgba(51, 170, 171, 0.5);
    background-color: #299798;
    @media (max-width: @breakpoint-large) {
        left: 4%;
    }
    @media (max-width: @breakpoint-xsmall) {
        top: 26px;
        left: 19px;
        z-index: 2000;
        padding: 0;
        transform: none;
        box-shadow: 0 0 0 4px #009696;
    }
}

.header-menu-fixed {
    position: fixed;
    z-index: 1000;
    background-color: #243c73;
    box-shadow: 0 0 0 8px #243c73;
    .header-menu__decor {
        border-color: #243c73;
    }
}

.header-menu__decor {
    height: 20px;
    position: absolute;
    top: -38%;
    left: 48%;
    z-index: 10;
    border-right: 4px dotted #299798;
    @media (max-width: @breakpoint-xsmall) {
        height: 10px;
    }
}

.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
  //  height: 695px;
    height: auto;
    position: absolute;
    top: 41.5%;
    left: 8.5%;
    z-index: 10;
    overflow: hidden;
    background-color: #243c73;
    transition: height 1s;
    @media (max-width: @breakpoint-large) {
        left: 3%;
    }
    @media (max-width: @breakpoint-xsmall) {
        width: 60px;
        height: 346px;
        top: 121px;
        left: 15px;
    }
}

.menu-bar-fixed {
    height: auto;
    position: fixed;
    top: 0;
    z-index: 2500;
    .menu-bar__threshold,
    .menu-bar__title,
    .menu-bar__divider {
        display: none;
        @media (max-width: @breakpoint-xsmall) {
            display: block;
        }
    }
    @media (max-width: @breakpoint-xsmall) {
        top: ~"calc(100% - 346px)";
        .menu-bar__title {
            background-image: none;
        }
    }
}

.menu-bar__threshold {
    display: flex;
    align-items: center;
    height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    @media (max-width: @breakpoint-xsmall) {
        flex-direction: column;
        justify-content: center;
        width: 60px;
        height: 35px;
        box-sizing: border-box;
        position: absolute;
        top: 31px;
        right: 10px;
        z-index: 2000;
        padding: 0 2px;
        background-color: #243c73;
        font-size: 11px;
        letter-spacing: 1.1px;
    }
}

.menu-bar__threshold_fixed {
    position: fixed;
}

.menu-bar__divider {
    width: 25px;
    position: relative;
    top: -5px;
    border-bottom: 4px dotted #98cc07;
    @media (max-width: @breakpoint-xsmall) {
        margin-top: 5px;
        top: 0;
    }
}

.menu-bar__title {
    position: relative;
    background: url('../img/bg-menu-bar.png') 50% 50% no-repeat;
    width: 100%;
    height: 460px;
    background-size: cover;
    @media (max-width: @breakpoint-xsmall) {
        background: url('../img/bg-menu-bar-small.png') 50% 100% no-repeat;
        background-size: auto;
    }
}

.menu-bar__title-text {
    width: 356px;
    position: absolute;
    top: 42%;
    left: -115%;
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3.6px;
    @media (max-width: @breakpoint-xsmall) {
        width: 298px;
        position: absolute;
        top: 135px;
        left: -120px;
        opacity: 1;
        font-size: 16px;
        letter-spacing: 2.4px;
    }
}

.menu-bar__title-text_homepage {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
    @media (max-width: @breakpoint-xsmall) {
        opacity: 1;
    }
}

.menu-bar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 70px;
    @media (max-width: @breakpoint-xsmall) {
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2000;
        svg {
            width: 112px;
            height: 53px;
        }
    }
}

.menu-bar__logo_fixed {
    position: fixed;
}

.menu-bar-button {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #299798;
    background-color: #243c73;
    @media (max-width: @breakpoint-xsmall) {
        display: none;
    }
}

.menu-bar-button__decor {
    width: 19px;
    height: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
}

.menu {
    display: flex;
    align-items: top;
    justify-content: flex-end;
    width: 0;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 71px 0;
    background: #1e2433 url('../img/bg-menu.png') 50% 140% no-repeat;
    //background-size: cover;
    &::before {
        content: '';
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100px;
        z-index: 50;
        background-color: #252c3f;
        @media (max-width: @breakpoint-xsmall) {
            display: none;
        }
    }
    @media (max-width: @breakpoint-xsmall) {
        background-position: -80px 160px;
        overflow-y: scroll;
    }
}

.menu-opened {
   padding: 71px 0;
   animation: menu-slide 0.5s forwards;
   &::before {
        animation: menu-block-slide 0.5s forwards 0.25s;
   }
   @media (max-width: @breakpoint-xsmall) {
        animation: none;
        width: 100%;
        height: 100%;
        &::before {
            animation: none;
        }
   }
}

.menu__list {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        margin-bottom: 30px;
    }
    @media (max-width: @breakpoint-xsmall) {
        margin-left: 106px;
        padding-top: 45px;
        li {
            margin-bottom: 24px;
        }
    }
}

.menu-item {
    position: relative;
    color: #cccccc;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.35px;
    transition-duration: 0.5s;
    &:hover {
        padding-left: 40px;
        color: #37e1e3;
        text-decoration: none;
        &::before {
            display: block;
        }
    }
    &::before {
        display: none;
        content: '';
        width: 28px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 0px;
        border-top: 4px dotted #37e1e3;
        transform: translateY(-30%);
        transition: display 0.5s;

    }
    @media (max-width: @breakpoint-xsmall) {
        &::before {
            width: 32px;
        }
        &:hover {
            padding-left: 38px;
        }
    }
}

.likes {
    color: #666666;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    svg {
        transform: translateY(5px);
    }
}

.comments {
    color: #666666;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    svg {
        transform: translateY(5px);
    }
}

.box-decor {
    width: 100%;
    height: 408px;
    border: 2px solid #e0e0e0;
    position: absolute;
    //top: 6.5%;
    top: -50px;
    left: -57.5%;
    z-index: -1;
    @media (max-width: @breakpoint-medium) {
        display: none;
    }
}

.to-top {
    width: 60px;
    height: 81px;
    box-sizing: border-box;
    position: fixed;
    right: 2.2%;
    bottom: 9.5%;
    z-index: 250;
    border: 4px solid rgba(153,153,153,0.5);
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    &::after {
        content: '';
        height: 0;
        position: absolute;
        bottom: 4px;
        left: ~"calc(50% - 1px)";
        opacity: 0;
        border-left: 4px dotted #ccc;
        transition-duration: 0.2s;
        transition-property: opacity;
    }
    &:hover {
        .to-top__arrow {
            fill: #cccccc;
            opacity: 1;
            transform: translate(-50%,-12px);
            transition-duration: 0.2s;
            transition-property: transform;
        }
        &::after {
            height: 20px;
            opacity: 1;
            transition-duration: 0.2s;
        }
    }
}

.to-top__arrow {
    position: absolute;
    bottom: 4px;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    transition-duration: 0.2s;
    transition-property: transform;
}

.section {
    position: relative;
    padding-top: 120px;
}

.control-bar {
    min-width: 200px;
    float: right;
    @media (max-width: @breakpoint-xsmall) {
        float: none;
        width: fit-content;
        margin: 0 auto;
    }
}

.control-bar__control-buttons {
    margin-bottom: 20px;
}

.control-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.control-btn {
    width: 81px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    border: 4px solid #e0eded;
    background: #ffffff;
    cursor: pointer;
    transition: background-color 0.5;
    &::before {
        content: '';
        width: 0;
        position: absolute;
        top: 50%;
        opacity: 0;
        transition: width, opacity 0.5s;
        border-top: 4px dotted #ffffff;
        transform: translateY(-50%);
    }
    &:hover {
        background-color: #299798;
        transition: background-color 0.5s;
        &::before {
            width: 18px;
            opacity: 1;
            transition: width, opacity 0.5s;
        }
        .control-btn__arrow_left {
            transform: translate(-22px, -50%);
            fill: #fff;
        }
        .control-btn__arrow_right {
            transform: translate(22px, -50%);
            fill: #fff;
        }
    }
}

.control-btn_left {
    &::before {
        right: 8px;
    }
}

.control-btn_right {
    &::before {
        left: 8px;
    }
}

.control-btn_disabled {
    border: 4px solid rgba(153, 153, 153, 0.3);
    cursor: default;
    .control-btn__arrow_disabled {
        fill: #cccccc;
    }
    &:hover {
        background-color: #fff;
        .control-btn__arrow {
            fill: #cccccc;
        }
        .control-btn__arrow_left {
            transform: translateY(-50%);
        }
        .control-btn__arrow_right {
            transform: translateY(-50%);
        }
    }
}

.control-btn__arrow {
    position: absolute;
    top: 50%;
    fill: #bcd3d3;
    transform: translateY(-50%);
    transition: transform 0.5s;
}

.control-btn__arrow_left {
    right: 4px;
    transform: translateY(-50%);
    &::before {
        right: 0;
    }
}

.control-btn__arrow_right {
    left: 4px;
    transform: translateY(-50%);
    &::before {
       left: 0;
    }
}

.control-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
   // margin-top: 25px;
    padding-left: 5px;
}

.innerpage-aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'aside-1 aside-2 aside-4'
                         'aside-1 aside-3 aside-4';
    grid-gap: 20px;
    @media (max-width: @breakpoint-medium) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'aside-1 aside-2'
                             'aside-3 aside-4';
    }
    @media (max-width: @breakpoint-xsmall) {
        grid-template-columns: 100%;
        grid-template-areas: 'aside-1'
                             'aside-2'
                             'aside-3'
                             'aside-4';
    }
}

.innerpage-aside__first {
    grid-area: aside-1;
}

.innerpage-aside__second {
    grid-area: aside-2;
}

.innerpage-aside__third {
    grid-area: aside-3;
}

.innerpage-aside__fourth {
    grid-area: aside-4;
}

.innerpage-aside__decor {
    height: 60px;
    margin-bottom: 16px;
    position: relative;
    background-color: #299798;
    opacity: 0.2;
    &::before {
        content: '';
        width: 500px;
        height: 60px;
        position: absolute;
        top: 0;
        left: -500px;
        background-color: #299798;
    }
}

.lovely-list {
    margin: 45px 0;
    list-style-type: none;
    padding-left: 30px;
    li {
        position: relative;
        &::before {
            content: '';
            width: 16px;
            height: 10px;
            position: absolute;
            left: -30px;
            top: 5px;
            background: url('../img/list-marker.svg') 50% 50% no-repeat;
            background-size: cover;
        }
    }
}

input, textarea {
    box-shadow: none;
    &:focus {
        outline: 1px solid #0066cc;
    }
    &::-moz-placeholder {
        color: #666666;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: 400;
    }
    &::-webkit-input-placeholder {
        color: #666666;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: 400;
    }
    &:-ms-input-placeholder {
        color: #666666;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: 400;
    }
    &::placeholder {
        color: #666666;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: 400;
    }
}

.enroll{
    max-width: 360px;
    box-sizing: border-box;
    padding: 41px 26px 24px 32px;
    background-color: #cbd1d5;
    @media (max-width: @breakpoint-medium) {
        max-width: 100%;
    }
    @media (max-width: @breakpoint-xsmall) {
        padding-left: 14px;
        padding-right: 14px;
    }

}

button.enroll__submit {
    @media (max-width: @breakpoint-xsmall) {
        width: 100%;
    }
}

.close-btn {
    width: 31px;
    height: 31px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 15;
    border: 2px solid #cccccc;
    background: #e6e6e6 url('../img/close.svg') 50% 50% no-repeat;
    cursor: pointer;
}

.validity {
    &:invalid {
        background-color: #ffcbcb;
        border: 2px solid #cc0000;
        outline: 0;
        box-shadow: none;
        color: #ff0000;
    }
}

.enroll__title {
    margin-bottom: 20px;
    color: #4b4b4b;
    font-family: @font-alt;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}

.input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding-left: 10px;
}

.textarea {
    width: 100%;
    max-width: 100%;
    height: 88px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

.enroll__agreement {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.check-lovely {
    width: 16px;
    min-width: 16px;
    height: 16px;
    position: relative;
    margin-right: 6px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    cursor: pointer;
}

.check:checked + .check-lovely {
    &::after {
        content: '';
        width: 14px;
        height: 17px;
        position: absolute;
        bottom: 2px;
        left: 2px;
        background: url('../img/check.svg') 50% 50% no-repeat;
   //     transform: translate(-50%,-50%);
    }
}

.enroll__agreement-text {
    color: #5e5e5e;
    font-size: 12px;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    a {
        color: #000000;
    }
}

.submit {
    width: 100%;
    margin-bottom: 10px;
}

.agreement__tip {
    color: #5e5e5e;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
}

.enroll-success {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 127px 70px 54px;
    background: #ffffff url('../img/bg-enroll-success.png') 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
    transition: 1s;
}

.enroll-success__major-text {
    margin-bottom: 50px;
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
}

.enroll-success__minor-text {
    margin-bottom: 69px;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}

.enroll-success__logo {
    width: 214px;
    height: 100px;
    margin: 0 auto;
    background: url('../img/success-logo.svg') 50% 50% no-repeat;
    background-size: cover;
}

.vk-group {
    grid-area: vk;
    height: 580px;
    position: relative;
    background-size: cover;
}

.vk-group__title {
    position: absolute;
    top: 105px;
    right: -145px;
    margin: 0;
    transform: rotate(90deg);
    opacity: 0.3;
    font-size: 33px;
    color: #299798;
    font-family: @font-alt;
    font-weight: 400;
    letter-spacing: 0.8px;
    @media (max-width: @breakpoint-medium) {
        position: static;
        transform: none;
    }
}

.vk-members {
    height: 290px;
    border: 2px solid #f4f4f4;
    background: url('../img/vk-members.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.btn-more {
    display: inline-block;
    width: 290px;
    max-width: 290px;
    box-sizing: border-box;
    position: relative;
    padding: 22px 30px 22px 10px;
    border: 0;
    background-color: #299798;
    text-align: center;
    color: #fefefe;
    font-family: @font-alt;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: #00c2c2;
        color: #fefefe;
        span {
            &::after {
                width: 23px;
                right: -37px;
                opacity: 1 ;
                transition-duration: 0.5s;
                transition-property: opacity, right;
            }
        }
        .btn-more__arrow {
            opacity: 1;
            transform: translate(14px, -50%);
            transition-duration: 0.5s;
        }
    }
    span {
        position: relative;
        transition-duration: 0.5s;
        &::after {
            content: '';
            width: 0;
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translate(-50%, -2px);
            border-top: 4px dotted #fff;
            opacity: 0;
            transition-duration: 0.5s;
            transition-property: opacity, right;
        }
    }
    .btn-more__arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        fill: #fff;
        margin-left: 5px;
        opacity: 0.5;
        transition-duration: 0.5s;
    }
    @media (max-width: @breakpoint-xsmall) {
        width: 100%;
        font-size: 18px;
        padding: 22px 46px;
        span {
            &::after {
                transform: translate(-50%, -2px);
            }
        }
    }
}

.address__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.address__title {
    color: #000000;
    font-family: @font-alt;
    font-size: 24px;
    line-height: 1;
}

.address__age {
    min-width: 75px;
    box-sizing: border-box;
    padding: 11px 0 15px;
    position: relative;
    background-color: #243c73;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    &::before {
        content: '';
        width: 20px;
        border-bottom: 4px dotted #8ae005;
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.address-text {
    font-size: 16px;
    line-height: 1.35;
    span {
        color: #666666;
        letter-spacing: -0.34px;
    }
    svg {
        margin-right: 9px;
        transform: translateY(5px);
    }
}

.address-text_aside {
    margin-bottom: 10px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e7e8ec;
}

.link-box {
    max-width: 1220px;
    margin: 0 auto 135px;
    height: 755px;
    position: relative;
    background: #243c73 url('../img/bg-ensamble-links.png') 100% 50% no-repeat;
    img {
        max-width: 100%;
    }
    @media (max-width: @breakpoint-small) {
        height: auto;
        margin-bottom: 36px;
        padding: 53px 10px 39px;
        background-position: 50% 50%;
        background-size: cover;
    }
}

.link-box__first {
    position: absolute;
    top: 99px;
    left: 51px;
    z-index: 10;
    @media (max-width: @breakpoint-small) {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 102px;
    }
}

.link-box__first-title {
    position: absolute;
    bottom: -22px;
    left: 30px;
    letter-spacing: 1.1px;
    svg {
        fill: #00ffff;
    }
}

.link-box__second {
    position: absolute;
    top: 198px;
    right: 47px;
    z-index: 10;
    @media (max-width: @breakpoint-small) {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 63px;
    }
}

.link-box__second-link {
    position: relative;
}

.link-box__second-title {
    position: absolute;
    top: -180px;
    right: -130px;
    transform: rotate(270deg);
    letter-spacing: 0.6px;
    svg {
        fill: #f355b2;
    }
    @media (max-width: @breakpoint-small) {
        right: -90px;
        top: -75px;
    }
}

.link-box__third {
    position: absolute;
    top: 474px;
    right: 229px;
    z-index: 10;
    @media (max-width: @breakpoint-small) {
        position: relative;
        top: 0;
        left: 0;
        img {
            width: 232px;
        }
    }
}

.link-box__third-title {
    position: absolute;
    top: -145px;
    right: -95px;
    letter-spacing: 3px;
    svg {
       fill: #8ae005
    }
    @media (max-width: @breakpoint-xsmall) {
        top: -85px;
        right: -65px;
    }
}

.link-box__third-link {
    position: relative;
}

.link-box__title {
    color: #ffffff;
    font-family: @font-alt;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    @media (max-width: @breakpoint-small) {
        padding-right: 6px;
        font-size: 24px;
        letter-spacing: 0.25px;
    }
}

.favorite {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
    position: relative;
    @media (max-width: @breakpoint-medium) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    @media (max-width: @breakpoint-small) {
        margin-bottom: 50px;
    }
}

.videos__favorite {
    margin-bottom: 195px;
}

.favorite__title {
    margin-top: -5px;
    margin-bottom: 10px;
    color: #000000;
    font-family: @font-alt;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.41;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    @media (max-width: @breakpoint-xsmall) {
       font-size: 18px;
    }
}

.favorite__subtitle {
    //margin-bottom: 80px; изменил после Новостей
    margin-bottom: 60px;
    position: relative;
    color: #999999;
    font-family: @font-alt;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    &::before {
        content: '';
        width: 124px;
        border-bottom: 4px dotted #e0e0e0;
        position: absolute;
        bottom: -25px;
        left: 0;
    }
}

.favorite__desc {
    color: #666666;
    line-height: 1.44;
    @media (max-width: @breakpoint-xsmall) {
        font-size: 16px;
    }
}

.favorite__link {
    display: inline-block;
    margin-top: 50px;
}

.resources-count {
    margin-left: 55.4%;
    margin-bottom: 61px;
    position: relative;
    color: #666666;
    font-size: 14px;
    font-style: italic;
    line-height: 1;
    &::before {
        content: '';
        width: 63px;
        height: 62px;
        position: absolute;
        top: -25px;
        left: -25px;
        z-index: 100;
        background-color: #bbddf1;
        opacity: 0.3;
    }
    @media (max-width: @breakpoint-xsmall) {
        margin-left: 0;
    }
}

.overlay {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 400;
        background: rgba(0,0,0,0.7);
    }
}

.hidden {
    display: none !important;
}

.register {
    display: flex;
    justify-content: center;
    padding: 50px 10px 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.27);
    background-color: #252c3f;
}

.register__form {
    width: 820px;
}

.register__heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    @media (max-width: @breakpoint-medium) {
        flex-direction: column;
        align-items: center;
    }
}

.register__title {
    margin-right: 25px;
    color: #37e1e3;
    font-family: @font-alt;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.register__tip {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

.register__inputs {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    @media (max-width: @breakpoint-medium) {
        flex-direction: column;
        align-items: center;
    }
}

.btn-more_register {
    min-width: 260px;
}

.register__agreement {
    display: flex;
    align-items: center;
}

.check_register {
    margin-right: 5px;
}

.register__agreement-text {
    color: #999999;
    font-size: 12px;
    cursor: pointer;
    a {
        color: #cccccc;
    }
}

.input_register {
    margin-right: 11px;
    @media (max-width: @breakpoint-medium) {
        width: 75%;
    }
    @media (max-width: @breakpoint-xsmall) {
        width: 100%;
        margin-right: 0;
    }
}

.btn-more_register {
    min-width: 260px;
}

.parents-box {
    width: 740px;
    margin-left: 209px;
    text-align: center;
    @media (max-width: @breakpoint-small) {
        width: 100%;
        margin-left: 0;
    }
}

.parents-box__heading {
    max-width: 450px;
    margin-bottom: 84px;
    position: relative;
    text-align: left;
    color: #000000;
    font-family: @font-alt;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    &::before {
        content: '';
        width: 800px;
        height: 63px;
        position: absolute;
        top: 0;
        left: -820px;
        background-color: #299798;
        opacity: 0.3;
    }
    @media (max-width: @breakpoint-xsmall) {
        margin-bottom: 33px;
        padding-left: 35px;
        font-size: 20px;
        line-height: 1.1;
        &::before {
            width: 35px;
            height: 67px;
            left: -14px;
        }
    }
}

.parents-box__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px,1fr));
    grid-gap: 34px;
    margin-bottom: 45px;
    @media (max-width: @breakpoint-xsmall) {
        grid-gap: 4px;
        margin-bottom: 25px;
    }
}

.parents-item {
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.parents-item__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    img {
        max-width: 100%;
    }
}

.parent-item__title {
    margin-top: 7px;
    margin-bottom: 30px;
    color: #000000;
    font-family: @font-alt;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.05px;
    @media (max-width: @breakpoint-xsmall) {
        margin-bottom: 18px;
    }
}

.parents-box__more {
    margin-bottom: 44px;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    @media (max-width: @breakpoint-xsmall) {
        margin-bottom: 25px;
        font-size: 16px;
    }
}

.section-title {
    padding-left: 77px;
    position: relative;
    letter-spacing: 0.7px;
    &::before {
        content: '';
        width: 62px;
        height: 62px;
        background-color: #bbddf1;
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    @media (max-width: @breakpoint-xsmall) {
        padding-left: 0;
        &::before {
            display: none;
        }
    }
}

.tab-bar {
    display: flex;
    align-items: flex-end;
}

.tab-bar__item {
    width: 175px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    padding: 31px 0 26px;
    background-color: #f1f1f1;
    color: #666666;
}

.tab-bar .uk-active {
    padding: 46px 0 28px;
    background-color: #66cccc;
    color: #ffffff;
    span {
        position: relative;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #ffffff;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.link-control {
    position: relative;
    text-decoration: none;
    color: #a5c0c0;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    &::after {
        content: '';
        width: 0;
        border-top: 3px dotted #a5c0c0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: width 0.5s;
    }
    &:hover {
        color: darken(#a5c0c0, 20%);
        &::after {
            width: 20px;
        }
        span {
            /*
            padding-right: 0;
            transition-property: padding-right;
            transition-duration: 1s;
            */
            &::after {
                opacity: 0;
              //  transition: opacity 0.5s 0.5s;
            }
        }
        .link-control__arrow {
            opacity: 1;
            transform: translate(9px, -50%);
            transition: opacity 0.5s,transform 0.5s;
        }
    }
    span {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
        border-bottom: 1px solid #a5c0c0;
        transition-property: padding-right;
        transition-duration: 0.5s;
        &::after {
            opacity: 1;
            content: '';
            width: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            border-radius: 50%;
            background-color: #a5c0c0;
            transform: translateY(-50%);
            transition: opacity 0.5s 0.1s;
        }
    }
    .link-control__arrow {
        fill: #7fc1c1;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        transition: opacity 0.5s,transform 0.5s;
    }
}

.link-control_right {
    &:hover {
        .link-control__arrow_right {
            transform: translate(20px, -50%);
        }
    }
    span {
        //padding-right: 10px;
        &::after {
            //right: 0;
            right: -10px;
        }
    }
    .link-control__arrow_right {
        right: -2px;
    }
}

.link-control_left {
    &:hover {
        .link-control__arrow_left {
            transform: translate(-20px, -50%);
        }
    }
    span {
        padding-left: 10px;
        &::after {
            left: 0;
        }
    }
    .link-control__arrow_left {
        left: -2px;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    padding: 10% 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7)
}

.popup-content {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}

.menu-bar-logo {
    fill: #fff;
}

.like-icon {
    fill: #dbdada;
}

.comment-icon {
    fill: #dbdada;
}

.to-top-icon {
    fill: #cccccc;
}

.map-pin-icon {
    fill: #66cccc;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
   // margin-top: 21px;
    margin-bottom: 63px;
    a {
        color: #7e7e7e;
        font-size: 11px;
        font-weight: 400;
        line-height: 1;
        text-decoration: underline;
        &:hover {
            color: darken(#7e7e7e, 30%);
        }
    }
}

.footer__contacts-flex {
    display: flex;
    align-items: center;
    @media (max-width: @breakpoint-xsmall) {
        width: 100%;
        justify-content: space-around;
    }
}

a.footer__tel {
    margin-right: 39px;
    text-decoration: none;
    color: #999999;
    font-family: @font-alt;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.14px;
    &:hover {
        text-decoration: none;
    }
    span {
        font-size: 18px;
        letter-spacing: 0.18px;
    }
    @media (max-width: @breakpoint-xsmall) {
        margin-right: 0;
    }
}

.footer__vk {
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    &:hover {
        color: #000000;
        .footer-vk {
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }
    .footer-vk {
        margin-right: 7px;
        fill: #000000;
        transition-duration: 0.3s;
    }
}

.footer__info-flex {
    display: flex;
    align-items: center;
}

.footer__agreement {
    margin-right: 19px;
    @media (max-width: @breakpoint-xsmall) {
        display: none;
    }
}

.footer__confidence {
    @media (max-width: @breakpoint-xsmall) {
        display: none;
    }
}

.footer__links-flex {
    display: flex;
    @media (max-width: @breakpoint-xsmall) {
        justify-content: space-around;
        width: 100%;
        margin-top: 70px;
    }
}

.footer__contacts {
    display: block;
    margin-right: 47px;
    @media (max-width: @breakpoint-xsmall) {
        margin-right: 0;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 8px 0;
    border-top: 1px solid #ebebeb;
    @media (max-width: @breakpoint-xsmall) {
        align-items: flex-end;
        padding: 10px 0;
    }
}

.footer__bottom-left {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: @breakpoint-xsmall) {
        width: 143px;
    }
}

.footer__copyright {
    float: left;
    max-width: 344px;
    margin-right: 36px;
    color: #7e7e7e;
    font-size: 10px;
    line-height: 1.3;
    font-weight: 400;
}

.footer__counter {
    float: right;
    @media (max-width: @breakpoint-xsmall) {
        position: absolute;
        top: 10px;
        right: 0;
    }
}

.footer__developer {
    display: block;
    padding-right: 31px;
    background: url('../img/domenart.svg') 100% 50% no-repeat;
    text-align: right;
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    &:hover {
        color: #7e7e7e;
        text-decoration: none;
    }
}

.btn-home {
    width: 285px;
    padding: 22px;
    box-sizing: border-box;
    background-color: #252b3f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1;
    color: rgb(254,254,254);
    font-family: @font-alt;
    text-align: center;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
        color: rgb(254,254,254);
        background-color: lighten(#252b3f, 5%)
    }
}

.btn-home__icon {
    width: 21px;
    height: 22px;
    fill: #e3e3e3;
    margin-right: 5px;
    transform: translateY(-2px);
}

.appereance{
    animation: 0.5s appereance normal 1;
}
