.pagetitle_photoalbum {
    margin-bottom: 55px;
}

.link-box_photoalbum {
    margin-bottom: 160px;
    &::before {
        content: '';
        width: 100%;
        height: 53.5%;
        position: absolute;
        left: -50%;
        top: 20%;
        border: 2px solid #f355b2;
        @media (max-width: @breakpoint-xsmall) {
            display: none;
        }
    }
}


.photoalbum__pool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 300px;
    .link-object__title {
        color: #cccccc;
    }
    div {
        position: relative;
    }
    div:nth-child(5n-4) {
        grid-row: span 2;
        text-align: right;
        .link-object__title {
            bottom: -22px;
            left: 30px;
            letter-spacing: 1.1px;
            svg {
                fill: #00ffff;
            }
        }
        @media (max-width: @breakpoint-small) {
            grid-row: 1;
        }
    }
    div:nth-child(5n-3) {
        top: 110px;
        .link-object__title {
            top: -180px;
            right: -95px;
            transform: rotate(270deg);
            letter-spacing: 0.6px;
            svg {
                fill: #f355b2;
            }
        }
        @media (max-width: @breakpoint-small) {
            top: 0;
        }
    }
    div:nth-child(5n-2) {  
        top: 95px;
        .link-object__title {
            top: -145px;
            right: -57px;
            letter-spacing: 3px;
            svg {
               fill: #8ae005
            }
        }
        @media (max-width: @breakpoint-small) {
            top: 0;
        }
    }
    div:nth-child(5n-1) {  
        top: -45px;
        text-align: right;
        .link-object__title {
            bottom: -22px;
            left: 20px;
            letter-spacing: 1.1px;
            svg {
                fill: #00ffff;
            }
        }
        @media (max-width: @breakpoint-small) {
            top: 0;
        }
    }
    div:nth-child(5n) {  
        top: 100px;
        .link-object__title {
            bottom: -22px;
            left: 25px;
            letter-spacing: 1.1px;
            svg {
                fill: #00ffff;
            }
        }
        @media (max-width: @breakpoint-small) {
             top: 0;
        }
    }
    @media (max-width: @breakpoint-small) {
        grid-template-columns: 1fr;
        margin-bottom: 150px;
    }
}